.panel.panel-default
  .panel-body

    = form_for @applicant, url: applicants_path, method: :post do |f|
      = render partial: 'shared/applicant_form', locals: {f: f}

      .form-group
        .row
          .col-sm-12
            = f.submit 'Apply Now', class: 'btn btn-block btn-success btn-lg'